* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.center {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid rgb(200, 200, 200);

}

.logo {
    color: #16507b;
    padding-top: 8px;
    padding-left: 50px;
}

.logo h2 {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu {
    width: 80%;
    text-align: right;
    padding-top: 8px;
}

.menu a {
    color: #124265;
    font-size: 25px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.4s;
}

.menu a:hover {
    color: #007bff;
}

section.main {
    background-image: url(space2.gif);
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section.conteudo {
    background-image: url(space2.gif);
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.capa {
    width: 100%;
    margin: 60px 0;
    text-align: center;
}

.capa img {
    width: 200px;
    height: 200px;
    border-radius: 360px;
}

.capa h2 {
    color: white;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
}

.capa p {
    color: white;
    font-size: 20px;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section.skills {
    padding: 30px;

}

.titulo-skills {
    width: 100%;
    text-align: center;
}

.titulo-skills h2 {
    color: #124265;
}

.titulo-skills p {
    text-align: center;
    display: flex;

}

.conteudo-skills {
    width: 100%;
    padding-top: 20px;
    justify-content: center;
    display: flex;
    column-gap: 40px;
}

.conteudo-skills i {
    font-size: 50px;
    color: #124265;
}

.tooltip {
    position: relative;
}

.tooltip>i:hover {
    color: #007bff;
    transition: 0.4s;
}

.tooltip .tooltipcircle {
    opacity: 0;
    background-color: #007bff;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    left: -100%;
    z-index: 1;
    display: flex;
    gap: 5px;
}

.tooltip:hover .tooltipcircle {
    opacity: 1;
    transition: 0.4s;
}

.tooltipcircle i{
    font-size: 30px;
}

section.projects{
    background-color: #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

section.projects h3{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding-top: 25px;
}

.container-cards{
    width: 100%;
    padding: 20px;
    overflow-x: scroll;
    z-index: 2;
}

.cards {
    width: max-content;
    display: flex;
}

.card {
    width: 400px;
    height: 250px;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}

.cards a{
    width: max-content;
    display: flex;
    margin-right: 10px;
}

.cards img {
    filter: blur(0.8px);
    width: 100%;
    height: 100%;
    display: block;
    max-width: 100%;
}

.card p {
    position: absolute;
    padding: 10px 15px;
    width: 100%;
    background-color: #5555;
    color: #fff;
    bottom: 0;
    left: 0;
}














footer{
    height: 50px;
    background-color: #cecece;
}

@media screen and (max-width: 768px) {
    .diferenciais-single {
        width: 100%;
        margin-bottom: 20px;
    }
}